html {
    font-size: 16px;
}

.content {
    margin: 7% 10%;
    border: 3px solid black;
    border-radius: 10px;
    min-height: 400px;
}

.list {
    min-height: 300px;
}

.list-brace {
    height: 300px;
}

.list-title {
    font-weight: 900;
}

.bd-right {
    border-right: 1px dashed black;
    padding: 5px;
}
li{
    overflow-wrap: break-word;
}

.bd-top {
    border-top: 1px dashed black;
    padding: 5px;
}

.bd-bottom {
    border-bottom: 1px dashed black;
    padding: 5px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        height: 10px;
        -webkit-appearance: none;
        background-color: #eee;
        outline: none;
    }
    input[type='range']::-webkit-slider-thumb {
        width: 20px;
        -webkit-appearance: none;
        height: 25px;
        cursor: pointer;
        background: #000;
    }
}

input {
    max-height: 30px;
}

span {
    font-size: 1.4rem;
}

ul,
input {
    margin: 0;
    padding: 0;
}

a {
    color: black !important;
}

ul {
    list-style-type: none;
}

.hide-on-mobile {
    display: block;
}
#answer
{
    overflow-wrap: break-word;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .hide-on-mobile {
        display: none;
    }
}
